/* Boiler plate start */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-text: #f36e25;
    --bg-color: rgba(245, 139, 81, 1);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

html,
body {
    height: 100%;
}

ol,
ul,
a {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.5;
    margin: 0;
}

input,
img,
iframe,
audio,
video,
canvas,
select,
svg {
    vertical-align: middle;
}

/* BOILER PALTE END */
.main_header {
    background-color: #f36e25;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header_padding {
    padding: 1rem 0;
}

.row {
    display: flex;
}

.column {
    flex: 0 0 35%;
    flex-basis: 35%;
}